body{
  background-color: black;
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.main{
text-align: center;
  }
.titulo-principal{
  text-align: center;
  color:red;
}
.titulo-Encriptador{
  color:red;
}
.titulo-resultado{
  color:red;

}
button{
  border: 0;
  color: white;
  font-weight: bold;
  background-color: blue;
  padding: 10px;
  margin-top: 10px;
  border-radius: 0.5em;
}
footer{
  color: blue;
}
